// Cadence
// Custom styles for the cadence app
// --------------------------------------------------------

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700|Comfortaa:400,700");

@import "bootstrap.less";

div#navbar.navbar {
  @shadow: 0 0 32px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
  font-size: 15px;

  top: 16px;
  i.icon-white {
    margin-top: 1px;
  }
  b.caret {
    margin-top: 13px;
  }
  .brand {
    background: 3px 50% no-repeat url("/img/cadence-white-30.png");
    padding-left: 38px
  }
}

.form-actions {
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  padding: 18px 0 0;
}
