// Cadence
// Custom styles for the cadence app
// --------------------------------------------------------

@import "bootstrap.less";

div#site-title.nav {
  margin: 0;
}

.form-actions {
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  padding: 18px 0 0;
}
