@import-once "../bootstrap.less";

footer#admin-footer {
  position: fixed;
  bottom: 0;

  li > a {
    font-size: 1em;
    padding: 0;
  }



  .navbar {
    margin-bottom: 0;

    .divider-vertical {
      height: 1.9em;
    }
  }
  .navbar-inner {
    .border-radius(6px 6px 0 0);
  }
}
